#game{
    width: 500px;
    height: 250px;
    border: 1px solid black;
    margin: auto;
    /*border-bottom: 20px solid green;
    border-top: 50px solid lightskyblue;*/
    /*position: relative;*/
}

.clouds{
    height: 50px;
    background-image:  url(clouds.png);
    background-repeat: repeat-x;
    background-position: top;
    background-size: 500px 50px;
}

.scoreBoard{
    position: absolute;
    left: 470px;
    top: 20px;
    font-weight: bold;
}

#grass{
    width: 500px;
    height: 30px;
    position: absolute;
    left: 460px;
    top: 240px;
}

#character{
    width: 40px;
    height: 70px;
    position: relative;
    top: 135px; /* game height - character height (200 - 50) */
    left: 75px;
}

#block{
    width: 20px;
    height: 20px;
    background-color: red;
    border: solid 1px black;
    position: relative;
    top: 115px; /* game height - character height - block height (200 - 50 - 20) */
    left: 480px; /* game width - block width (500 - 20) */
    animation: block 1s infinite linear;
}

/* This is a keyframes animation. This animation will make the top position 
slide up 50px and then slide back down. */

@keyframes jump{
    0%{transform: translate(0px,-20px);}
    10%{transform: translate(0px,-40px);}
    20%{transform: translate(0px,-60px);}
    30%{transform: translate(0px,-80px);}
    40%{transform: translate(0px,-100px);}
    45%{transform: translate(0px,-110px);}
    50%{transform: translate(0px,-110px);}
    60%{transform: translate(0px,-100px);}
    70%{transform: translate(0px,-80px);}
    80%{transform: translate(0px,-60px);}
    90%{transform: translate(0px,-40px);}
    100%{transform: translate(0px,-20px);}
}

@keyframes block{
    0%{transform: translate(-20px)} 
    100%{transform: translate(-500px)}
}

.animate{
    animation: jump 275ms linear;
}